<div class="form-container">
  <div>
      <h2>Book that s#$% B%$@</h2>

        <%= form_for current_user.bookings.build do |form| %>
          <%= form.hidden_field :listing_id, value:@listing.id %>
          <%= form.hidden_field :price, value:@listing.price %>
          <%= form.hidden_field :user_id %>
          <div class="form-group col-sm-10">
            <%= form.label :begin_date %>
            <%= form.date_field :begin_date, class: "form-control"%>
          </div>
          <div class="form-group col-sm-10">
           <%= form.label :end_date %>
           <%= form.date_field :end_date, class: "form-control"%>
         </div>
        <div class="form-group col-sm-10">
            <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>