<div class="form-container">
  <div class='col-xs-4 col-xs-offset-2'>
      <h1 >Add your gangsta house</h1>

        <%= form_for @current_user.bookings.build, :html => { :multipart => true }, :remote => true do |form| %>
          <% form.hidden_field :listing_id %>
          <% form.hidden_field :price, value: @listing.price %>
          <% form.hidden_field :user_id %>
          <div class="form-group col-sm-10">
            <%= form.label :begin_date %>
            <%= form.date_field :begin_date, class: "form-control"%>
          </div>
          <div class="form-group col-sm-10">
           <%= form.label :end_date %>
           <%= form.date_field :end_date, class: "form-control"%>
         </div>
        <div class="form-group col-sm-10">
            <%= form.submit class: "btn btn-primary" %>
        </div>
  </div>
</div>