 <div class="form-container">
  <div class='col-xs-4 col-xs-offset-2'>
    <h1 >Add your gangsta house</h1>

    <%= form_for @listing, :html => { :multipart => true }, :remote => true do |form| %>
        <div class="form-group col-sm-10"  id="pictures-container" >
           <%= render partial: 'pictures'%>
        </div>
        <div class="form-group col-sm-10"  id="pictures-container" >
          <%= form.file_field :file, class: "upload" %>
        </div>
         <div class="form-group col-sm-10">
             <%= form.label :name %>
             <%= form.text_field :name, class: "form-control" %>
         </div>

         <div class="form-group col-sm-10">
             <%= form.label :adress %>
             <%= form.text_field :adress, class: "form-control" %>
         </div>

         <div class="form-group col-sm-10">
             <%= form.label :description %>
             <%= form.text_area :description, rows: 4, cols: 4, class: "form-control col-xs-4" %>
         </div>

        <div class="form-group col-sm-10">
            <%= form.label :city %>
            <%= form.text_field :city, class: "form-control" %>
        </div>

        <div class="form-group col-sm-10">
            <%= form.label :country %>
            <%= form.text_field :country, class: "form-control" %>
        </div>

        <div class="form-group col-sm-10">
            <%= form.label :nb_beds %>
            <%= form.number_field :nb_beds,  class: "form-control" %>
        </div>

        <div class="form-group col-sm-10">
            <%= form.label :nb_bath %>
            <%= form.number_field :nb_bath, class: "form-control"%>
        </div>

        <div class="form-group col-sm-10">
            <%= form.label :price %>
            <%= form.number_field :price, class: "form-control"%>
        </div>

        <div class="form-group col-sm-10">
            <%= form.submit class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>