<div class="container">
  <h1> Your gangsta house</h1>
  <h2><%= @listing.name %></h2>
  <div class="col-xs-6">
    <%= image_tag @listing.picture.url %>
    <hr>
    <div class="jumbotron">
      <div>
        <strong>Adress: </strong><%= @listing.adress %>
      </div>
       <div>
        <strong>City: </strong><%= @listing.city %>
      </div>
       <div>
        <strong>Country </strong><%= @listing.country %>
      </div>
       <div>
        <strong>Beds: </strong><%= @listing.nb_beds %>
      </div>
      <div>
        <strong>Bath: </strong><%= @listing.nb_bath %>
      </div>
    </div>

</div>