<div class="container">
  <h1> Ton profil de gangsta</h1>
  <h2><%= @user.first_name %> <% @user.last_name %> </h2>
  <div>
    <%= image_tag @user.picture.url(:medium) %>
    <div>
      <%= @user.username %>
    </div>
     <div>
      <%= @user.email.address %>
    </div>
     <div>
      <%= @user.birth_date %>
    </div>
     <div>
      <%= @user.bio %>
    </div>
  </div>

</div>